<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755297667913-urou1jm135pfkncvl8t1976l66s3vl5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755297667913-urou1jm135pfkncvl8t1976l66s3vl5e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755297667913-i8ppk5obi5l5b6hpbfg0ukhs2cctlm06.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDD1psoHhFoQcvitrMMDreuAGlytFC0CwE</string>
	<key>GCM_SENDER_ID</key>
	<string>755297667913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartsolutions.provir</string>
	<key>PROJECT_ID</key>
	<string>provir-search</string>
	<key>STORAGE_BUCKET</key>
	<string>provir-search.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755297667913:ios:599590c1e4d7e85f366898</string>
</dict>
</plist>